*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#0A0A0A;
    color: whitesmoke;
    font-family: fira sans;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.logoText{
    font-size: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
}
.linkContainer{
    text-decoration: none;
    color: black;
}
.headerLink{
    margin: 10px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
}
.mobileHeader{
    display: none;
}
.openBtn{
     width: 150px;
     border: none;
     outline: none;
     font-size: 2rem;
}
 @media  only screen and (max-width:768px) {
    .linkContainer{
        display: none;
    }
    .mobileHeader{
        display: block;
        text-align: center;
        margin: 10px;
        height: 100%;
        /* position: absolute; */
    }
    @keyframes slidingBar {
        0%{ transform: translateX(-50px);}
    }
    .mobLinkCont{
        box-shadow: -2px 2px 2px 2px black;
        animation-name: slidingBar;
        animation-duration: .5s;
    }
    .mobniLink{
        text-decoration: none;
        text-transform: capitalize;
        font-size: 1rem;
        margin: 10px;
        display: block;
        padding: 10px;
    }
 }