*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#0A0A0A;
    color: whitesmoke;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.logoText{
    font-size: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
}
.linkContainer{
    text-decoration: none;
    color: black;
}
.headerLink{
    margin: 10px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
}