.Feature{
    color: #f6f6f6;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 20px;
}
.projectParentcontainer{
    border-bottom: 1.5px solid rgb(83, 69, 69);
    /* background-color: red; */
}
.projectContainer{
    padding-top: 20px;
    border-bottom: 1.5px solid wheat;
}
.projP{
    color: #f6f6f6;
    padding: 5px;
    padding-left: 15px;
    font-size: 1rem;
}
.icon{
    color:#D3E97A;
}
.projBox1{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-family: Merriweather;
    width: 100%;
    box-shadow: -2px 2px 2px 2px black;
    text-align: justify;
}
.projImg{
    height: 300px;
    width: 300px;
    background-color:#3b3131;
    padding: 30px;
}
.projHeader{
    font-size: 2rem;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}
.projInf , .projB{
    padding: 15px;
    line-height: 30px;
    font-size: 1.2rem;
}
.linkCont{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
.prjLink{
    text-decoration: none;
    text-transform: capitalize;
}
.prjLink:hover{
    border-bottom: 3px solid #D3E97A;
}
.about{
    display: flex;
    justify-content: space-between;
}
.aboutTextBox{
    width: 500px;
    padding: 10px;
}
.abtH{
    padding: 15px;
    line-height: 30px;
}
.aboutP{
  line-height: 30px;
  padding: 15px;
}
.aboutM{
    padding: 15px;
    text-transform: uppercase;
    font-size: 3rem;
}
@media only screen and (max-width:768px) {
    
    .Feature{
        color: #f6f6f6;
        font-size: 1rem;
        font-weight: bolder;
        text-transform: uppercase;
        font-family: sans-serif;
        padding: 20px;
        text-align: center;
    }
    .projP{
        color: #f6f6f6;
        padding: 5px;
        padding-left: 15px;
        font-size: 1rem;
    }
    .icon{
        color:#D3E97A;
    }
    .projBox1{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        font-family: Merriweather;
        box-shadow: -2px 2px 2px 2px black;
         padding: 10px;
        /* width: 100%; */
    }
    .projImg{
        height: 300px;
        width: 300px;
        background-color:#3b3131;
        /* padding: 30px; */
    }
    .projHeader{
        font-size: 2rem;
        text-transform: uppercase;
        padding: 10px;
        text-align: center;
    }
    .projInf , .projB{
        padding: 15px;
        line-height: 30px;
        font-size: 1.2rem;
    }
    .linkCont{
        display: flex;
        justify-content: space-around;
        margin: 30px;
    }
    .prjLink{
        text-decoration: none;
        text-transform: capitalize;
    }
    .prjLink:hover{
        border-bottom: 3px solid #D3E97A;
    }
    
.about{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aboutTextBox{
    width: 500px;
    padding: 10px;
}
.abtH{
    padding: 15px;
    text-align: center;
    line-height: 30px;
}
.aboutP{
  line-height: 30px;
  padding: 15px;
  line-break: normal;
}
.aboutM{
    /* padding: 15px; */
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
}
}
